# COMP
######
comp -clk_file vel.config
comp -num_boards 2

comp -platform D1S

# RTLC
######
rtlc -preserve 
#rtlc -opt_best
rtlc -lower_mem_threshold 50
rtlc -enable_protected_support

# VELSYN
########
velsyn -Dump c1 c1.dump
velsyn -Dump c0 c0.dump
velsyn -Dump e0 e0.dump
velsyn -Dump e50 long_paths.dump
velsyn -Mm 10.0 -SWOM -SFF  -disableSoftVw -SrND -NFBidi
velsyn -Tfi "./veloce.tfi" -KeepAlive "./veloce.kal"
velsyn -RegTieUndrivenNets

# VELCC
#######

# VELGS
#######
velgs -dti

hvl -cpppath $GNUHOME/bin/g++ -64bit_runtime

